@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap');
  
/*footer*/
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer p{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}
