@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap');
  
  .home{
    margin: 80px 320px;
  }
  .descripcion, .home{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
  .title{
    font-size: 48px;
    line-height: 72px;
  }
  .descripcion{
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 50px;
  }
  
  